<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/material-icons.min.css">
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600">
    <link rel="stylesheet" href="static/css/AXY-Contact-Us.css">
    <link rel="stylesheet" href="static/css/AXY-Contact-Us1.css">
    <link rel="stylesheet" href="static/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="static/css/copyright-sss.css">
    <link rel="stylesheet" href="static/css/copyright-sss1.css">
    <link rel="stylesheet" href="static/css/Data-Table.css">
    <link rel="stylesheet" href="static/css/Data-Table2.css">
    <link rel="stylesheet" href="static/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="static/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/css/Projects-Clean.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/Team-Boxed.css">
</head>

<body style="background-color:rgb(0,0,0);">
    <section class="d-flex flex-column justify-content-between" data-bs-parallax-bg="true" id="home1" style="width:100%;height:100vh;background-image:url(&quot;static/img/wall4.png&quot;);background-position:center;background-size:cover;background-repeat:no-repeat;">
        <div id="hometop">
            <nav class="navbar navbar-light navbar-expand-md" style="background-color:transparent;padding:6px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;background-size:cover;">
                <div class="container-fluid"><a class="navbar-brand" href="{{ url_for('indexs') }}" data-aos="fade-down" data-aos-duration="700" style="color:rgba(255,255,255,0.9);background-image:url(&quot;static/img/logo_transparent.png&quot;);background-position:100%;background-repeat:no-repeat;background-size:cover;height:25vh;"></a>
                    <button
                        class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1" style="color:rgb(255,255,255);background-color:transparent;"><span class="sr-only" style="background-color:#ffffff;">Toggle navigation</span><span class="navbar-toggler-icon" style="color:rgb(255,255,255);background-color:rgba(255,255,255,0.44);"></span></button>
                        <div class="collapse navbar-collapse"
                            data-aos="fade-up" data-aos-duration="700" data-aos-once="true" id="navcol-1">
                            <ul class="nav navbar-nav mx-auto" style="font-size:14px;font-family:Montserrat, sans-serif;font-weight:600;">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#video-and-stats" style="color:rgba(255,255,255,0.5);">Code?</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#contactus" style="color:rgba(255,255,255,0.5);">Contact Us</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#aboutus" style="color:rgba(255,255,255,0.5);">ABout Us</a></li>
                            </ul>
                            <ul class="nav navbar-nav" style="font-size:14px;font-family:Montserrat, sans-serif;font-weight:600;">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('login1') }}" style="color:rgba(255,255,255,0.5);">Sign In</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('cre') }}" style="color:rgba(255,255,255,0.5);">Sign Up</a></li>
                            </ul>
                        </div>
                </div>
            </nav>
            <h1 class="text-center" data-aos="fade-up" data-aos-duration="700" data-aos-delay="50" data-aos-once="true" id="title1" style="font-family:Montserrat, sans-serif;font-weight:300;font-size:70px;font-style:normal;">Code Arena</h1>
            <h2 class="text-center text-light" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100" data-aos-once="true" id="subs1" style="font-family:Montserrat, sans-serif;font-weight:600;font-size:32px;color:#ce1126;margin-bottom:20px;">Get your ideas. Stack your ammo. But don't come unless you're ready to battle.</h2>
            <div class="container">
                <div class="row hometop-row">
                    <div class="col" data-aos="fade-up" data-aos-duration="700" data-aos-delay="150" data-aos-once="true">
                        <p class="text-center text-success p-top" data-bs-hover-animate="flash" style="margin-bottom:0px;font-size:22px;font-style:italic;margin-top:1px;">first:Lather</p>
                        <p class="text-center text-primary" data-bs-hover-animate="flash" style="margin-bottom:0px;font-size:22px;font-style:italic;">&nbsp; &nbsp; &nbsp; Rinse</p>
                        <p class="text-center text-warning" data-bs-hover-animate="flash" style="font-size:22px;font-style:italic;">&nbsp;goto first</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center align-content-center align-self-center" data-aos="fade-up" data-aos-duration="700" data-aos-delay="150" data-aos-once="true" style="margin-right:0px;margin-left:0px;"><button class="btn btn-danger active btn-lg reserve-button" type="button" onclick="window.location.href='{{ url_for('login1') }}'" data-bs-hover-animate="flash" style="background-color:rgba(255,0,0,0.32);width:auto;font-size:22px;margin-top:10px;">Enter the Arena</button></div>
                </div>
            </div>
        </div>
        <div id="homebottom">
            <div class="row">
                <div class="col"><button class="btn btn-link btn-block arrow-btn" type="button" data-aos="fade-up" data-aos-duration="950" data-aos-delay="250"><i class="icon ion-ios-arrow-down" style="font-size:32px;"></i></button></div>
            </div>
        </div>
    </section>
    <section data-aos="fade-up" data-aos-duration="950" id="video-and-stats" style="color:rgb(255,255,255);background-color:#000000;font-family:Montserrat, sans-serif;"><iframe width="560" height="315" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/nKIu9yen5nc?autoplay=1&amp;loop=1&amp;playlist=nKIu9yen5nc&amp;controls=0&amp;showinfo=0&amp;rel=0" id="whycode-video" style="margin-bottom:50px;margin-top:50px;"></iframe>
        <div
            class="table-responsive" data-aos="fade-up" data-aos-duration="700" data-aos-once="true" id="stats" style="font-size:15px;">
            <table class="table">
                <thead>
                    <tr>
                        <th id="th1">Languages</th>
                        <th id="th2">Loved By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cell-left">Rust</td>
                        <td class="cell-right" style="max-width:100px;width:78.9%;">78.9%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">Kotlin</td>
                        <td class="cell-right" style="max-width:100px;width:75.1%;">75.1%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">Python</td>
                        <td class="cell-right" style="max-width:100px;width:68.0%;">68.0%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">TypeScript</td>
                        <td class="cell-right" style="max-width:100px;width:67%;">67.0%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">Go</td>
                        <td class="cell-right" style="max-width:100px;width:65.6%;">65.6%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">Swift</td>
                        <td class="cell-right" style="max-width:100px;width:68.5%;">65.1%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">Javascript</td>
                        <td class="cell-right" style="max-width:100px;width:68.5%;">61.9%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">C#</td>
                        <td class="cell-right" style="max-width:100px;width:68.5%;">60.4%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">F#</td>
                        <td class="cell-right" style="max-width:100px;width:68.5%;">59.6%</td>
                    </tr>
                    <tr>
                        <td class="cell-left">Clojure</td>
                        <td class="cell-right" style="max-width:100px;width:68.5%;">59.6%</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-delay="950" id="stats-para" style="font-size:46px;font-weight:500;font-style:normal;color:#79c0ff;">Tell us which one do you love?</p>
            <hr>
    </section>
    <div class="team-boxed" style="background-color:rgb(0,0,0);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:rgb(255,255,255);">Our Team</h2>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background-color:#212121;"><img class="rounded-circle" src="static/img/1 (1).jpg">
                        <h3 class="name" style="font-family:Montserrat, sans-serif;color:#ffffff;">Abhishek Varma</h3>
                        <p class="title">the 1st musketeer</p>
                        <p class="description" style="font-family:Montserrat, sans-serif;"><br>The other day i was reminiscing about the time when i was completely engrossed and was having a hardtime trying to figure out ways to implement a computer bot capable of playing ping pong, that's when iacquainted myself with
                            machine learning. That's when i knew that this is what i want to do in life!<br><br></p>
                        <div class="social"><a href="#"><i class="fa fa-github" style="font-size:35px;"></i></a><a href="#"><i class="fa fa-linkedin-square" style="font-size:35px;"></i></a><a href="#"><i class="fa fa-link" style="font-size:35px;"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box" style="background-color:#212121;"><img class="rounded-circle" src="static/img/0.jpg">
                        <h3 class="name" style="font-family:Montserrat, sans-serif;color:#ffffff;">Dylan Saldanha</h3>
                        <p class="title">The 2nd musketeer</p>
                        <p class="description" style="font-family:Montserrat, sans-serif;padding-bottom:43px;"><br>A Deep Learning Enthusiast in the final year of his Bachelor's of Computer Engineering degree at Visvesvaraya Technological University who is deeply passionate about problem-solving, programming and current technologies.<br><br></p>
                        <div
                            class="social"><a href="#"><i class="fa fa-github" style="font-size:35px;"></i></a><a href="#"><i class="fa fa-linkedin-square" style="font-size:35px;"></i></a><a href="#"><i class="fa fa-stack-overflow" style="font-size:35px;"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box" style="background-color:#212121;"><img class="rounded-circle" src="static/img/QA.jpg" style="margin-top:24px;">
                    <h3 class="name" style="font-family:Montserrat, sans-serif;">It Could Be You</h3>
                    <p class="title">The 3rd&nbsp;musketeer</p>
                    <p class="description" style="font-family:Montserrat, sans-serif;padding-bottom:198px;">Fork our Repository and be one of the contributors.......</p>
                    <div class="social"><a href="#"><i class="fa fa-github" style="font-size:35px;margin:0 auto;"></i></a><a href="#"></a><a href="#"></a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div><div id ="contactus" class="jumbotron-contact jumbotron-contact-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form method="post" action="{{ url_for('homesugg') }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" name="conname" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email" >
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" name="conmail" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" class="form-control" name="consel" required="required">
                                <option value="Represent your University">Represent your University</option>
                                <option value="Start a Battle">Start a Battle</option>
                                <option value="General Issue">General Issue</option>
                                <option value="Suggestions">Suggestions</option>
                                <option value="Say Hi">Say Hi</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
               {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if "Scroll" != message and "Opps" in message %}
                                <div id="scrollSuccess1" class="alert alert-danger alert-dismissible fade show">

  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Opps!</strong>Something went wrong:\
</div>
                            {% else %}
                                <div id="scrollSuccess1" class="alert alert-success alert-dismissible fade show">

  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong>{{message}}
</div>

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% if "Scroll" in messages %}

                                        <script>
                                            document.getElementById('scrollSuccess1').scrollIntoView();
                                        </script>


                        {% endif %}
                    {% endif %}
                {% endwith %}
        </div>

    </div>
</div></div>
    <div data-aos="fade-up" data-aos-duration="950" id="aboutus" class="footer-dark" style="background-color:rgb(0,0,0);font-family:Montserrat, sans-serif;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">AI Solutions</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Flask Website</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>WeByte</h3>
                        <p><br>From outside, WeByte’s story may seem as one of those much talked about dorm room startups that has shown promise and rapidly growing. While most of that is true, WeByte’s story has been about perseverance and focus towards
                            one goal - making technical recruitment simple and efficient. And this journey has been no walk in the park - we have had our share of challenges and we know there are more to come in the future.&nbsp;<br><br>But WeByte’s real
                            story is that of the people who run it. From the two college friends who willed an idea to reality, to the people who put their faith into the aim of the startup and took it as their own, WeByte is many stories, of the people
                            who make it. Our story is continually changing, as the people at WeByte keep writing new ones, everyday.<br><br></p>
                    </div>
                </div>
                <p class="copyright" style="background-color:rgb(0,0,0);">WeByte © 2018</p>
            </div>
        </footer>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="static/js/bs-animation.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>
